<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <add key="inputMaxInt" value="2000"/>
    <!--In theory would work up to 3,999-->

    <!--<add key="intToRomanVal.[INT NUMBER]" value="[ROMAN LETTER]"/>-->
    <!--Include subtraction numbers 4,9,40,90,400,900-->
    <!--NO LONGER NEEDED FOR LIBRARY but kept for testing-->
    <add key="intToRomanVal.1000" value="M"/>
    <add key="intToRomanVal.900" value="CM"/>
    <add key="intToRomanVal.500" value="D"/>
    <add key="intToRomanVal.400" value="CD"/>
    <add key="intToRomanVal.100" value="C"/>
    <add key="intToRomanVal.90" value="XC"/>
    <add key="intToRomanVal.50" value="L"/>
    <add key="intToRomanVal.40" value="XL"/>
    <add key="intToRomanVal.10" value="X"/>
    <add key="intToRomanVal.9" value="IX"/>
    <add key="intToRomanVal.5" value="V"/>
    <add key="intToRomanVal.4" value="IV"/>
    <add key="intToRomanVal.1" value="I"/>
  </appSettings>
  
</configuration>